<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="WindowHeight" value="40" />
    <add key="WindowWidth" value="140" />
    <add key="PassportFolderName" value="D:\PROJECTS\VisualStudio\$GateWay\Блокирование Отгрузки\Паспорта прогонов" />

    <add key="FileName_Debetorka" value="D:\PROJECTS\VisualStudio\$GateWay\Блокирование Отгрузки\savDebetorkaReport1.xlsx" />
    <add key="FileName_OrdersSetup" value="D:\PROJECTS\VisualStudio\$GateWay\Блокирование Отгрузки\OrdersSetup.xlsm" />
    <add key="FileName_DebtorStatus" value="D:\PROJECTS\VisualStudio\$GateWay\Блокирование Отгрузки\DebtorStatus.xlsx" />
    
    <add key="FolderName_Template" value="D:\PROJECTS\VisualStudio\$GateWay\Блокирование Отгрузки\Шаблоны извещений" />
    <add key="FolderName_Notice" value="D:\PROJECTS\VisualStudio\$GateWay\Блокирование Отгрузки\Отправленные извещения" />
    
    <add key="FileName_TemplateNotice1" value="Шаблон извещения 1.dotx" />
    <add key="FileName_TemplateNotice2" value="Шаблон извещения 2.dotx" />
    <add key="FileName_TemplateNotice3" value="Шаблон извещения 3.dotx" />
    
    <add key="PassportMailAddress" value="alexandr.pyatkov@sibelco.com" />
    <!-- Признак визуализации создания отчета: 1 или пусто-->
    <add key="Visible" value="1" />
    <!-- Признак email рассылки отчета: 1 или пусто-->
    <add key="Send" value="" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>